{% extends 'base.html' %}

{% block title %}Update{% endblock %}

{% block menu %}
    <li><a href="{% url 'article_view' article.pk %}">Отмена</a></li>
{% endblock %}

{% block content %}
    <h1>Update Article</h1>

    <form action="{% url "article_update" article.pk %}" method="post">
        {% csrf_token %}

        <label>Title:</label><br/>
        <input type="text" name="title" value="{{ article.title }}" required/><br/>
        {% if errors.title %}<p class="error">{{ errors.title }}</p>{% endif %}

        <label>Text:</label><br/>
        <textarea name="text" required>{{ article.text }}</textarea><br/>
        {% if errors.text %}<p class="error">{{ errors.text }}</p>{% endif %}

        <label>Author:</label><br/>
        <input type="text" name="author" value="{{ article.author }}" required/><br/>
        {% if errors.author %}<p class="error">{{ errors.author }}</p>{% endif %}

        <label for="id-status">Status:</label><br/>
        <select name="status" id="id-status">
            {% for value, label in status_choices %}
                <option value="{{ value }}"
                        {% if value == article.status %}selected{% endif %}>
                    {{ label }}
                </option>
            {% endfor %}
        </select><br/>

        <br/>
        <input type="submit" value="Send"/>
    </form>
{% endblock %}
