{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
       <div class="container">
           <ul class="menu">
               <li><a href="{% url 'index' %}">Index</a></li>
               <li><a href="{% url 'article_create' %}">Create Article</a></li>
           </ul>
       </div>
    </nav>
    <div class="container">
        <h1>{{ article.title }}</h1>
        <p>{{ article.text }}</p>
        <p>By: {{ article.author }} | {{ article.created_at }}</p>
    </div>
</body>
</html>
