{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h1>My First Blog!</h1>
    <p><a href="/articles/add/">Добавить Статью</a></p>
    {% for article in articles %}
        <h3><a href="/article/{{ article.pk }}/">{{ article.title }}</a></h3>
        <p>Статус: ({{ article.status }} | {{ article.get_status_display }})</p>
        <p>{{ article.author }} | {{ article.created_at }}</p>
        <div>{{ article.text }}</div>
    {% endfor %}
    <p><a href="/articles/add/">Добавить Статью</a></p>
</div>
</body>
</html>
