{% extends 'base.html' %}

{% block title %}Hello{% endblock %}

{% block content %}
    <h1>My First Blog!</h1>
    {% for article in articles %}
        <h3><a href="{% url "article_view" article.pk %}">{{ article.title }}</a></h3>
        <p>Статус: ({{ article.status }} | {{ article.get_status_display }})</p>
        <p>{{ article.author }} | {{ article.created_at|date:"d.m.Y H:i:s" }}</p>
        <p>Published at: {{ article.publish_at|date:"d.m.Y H:i:s" }}</p>
        <p><a href="{% url 'article_update' article.pk %}">Update</a></p>
        <p><a href="{% url 'article_delete' article.pk %}">Delete</a></p>
    {% endfor %}
{% endblock %}
