{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block menu %}
    {% if perms.webapp.change_article or article.author == request.user %}
        <li><a href="{% url 'webapp:article_update' article.pk %}">Update</a></li>
    {% endif %}
    {% if perms.webapp.delete_article or article.author == request.user %}
        <li><a href="{% url 'webapp:article_delete' article.pk %}">Delete</a></li>
    {% endif %}
    <li><a href="{% url 'webapp:article_comment_add' article.pk %}">Add Comment</a></li>
{% endblock %}

{% block content %}
    <div class="box">
        <h1>{{ article.title }}</h1>
        <p class="pre">{{ article.text }}</p>
        <p>By:
            <a href="{% url 'accounts:detail' article.author_id %}">{{ article.author }}</a>
            | {{ article.created_at|date:"d.m.Y H:i:s" }}
        </p>
        <p>Published at: {{ article.publish_at|date:"d.m.Y H:i:s" }}</p>
        <p>Tags: {% for tag in article.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        <hr>
        <h3>Comments:</h3>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        {% for comment in comments %}
            <div class="box">
                <h4>
                    <a href="{% url 'accounts:detail' comment.author_id %}">{{ comment.author }}</a>
                    ({{ comment.created_at }})
                </h4>
                <div class="pre">{{ comment.text }}</div>
                {% if perms.webapp.change_comment or comment.author == request.user %}
                    <p><a href="{% url 'webapp:comment_update' comment.pk %}">Update</a></p>
                {% endif %}
                {% if perms.webapp.delete_comment or comment.author == request.user %}
                    <p><a href="{% url 'webapp:comment_delete' comment.pk %}">Delete</a></p>
                {% endif %}
            </div>
        {% empty %}
            <p>Нет комментариев</p>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}
