{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block menu %}
    <li><a href="{% url 'article_update' article.pk %}">Update</a></li>
    <li><a href="{% url 'article_delete' article.pk %}">Delete</a></li>
    <li><a href="{% url 'article_comment_add' article.pk %}">Add Comment</a></li>
{% endblock %}

{% block content %}
    <div class="box">
        <h1>{{ article.title }}</h1>
        <p class="pre">{{ article.text }}</p>
        <p>By: {{ article.author }} | {{ article.created_at|date:"d.m.Y H:i:s" }}</p>
        <p>Published at: {{ article.publish_at|date:"d.m.Y H:i:s" }}</p>
        <p>Tags: {% for tag in article.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        <hr>
        <h3>Comments:</h3>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        {% for comment in comments %}
            <div class="box">
                <h4>{{ comment.author }} ({{ comment.created_at }})</h4>
                <div class="pre">{{ comment.text }}</div>
                <p><a href="{% url 'comment_update' comment.pk %}">Update</a></p>
            </div>
        {% empty %}
            <p>Нет комментариев</p>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}
