{% extends 'base.html' %}

{% block title %}Hello{% endblock %}

{% block content %}
    <h1>My First Blog!</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

    <form action="{% url "article_mass_action" %}" method="post">
        {% csrf_token %}
        <p class="mass-actions"><input type="submit" name="delete" value="Delete selected"></p>
        {% for article in articles %}
            <div class="box">
                <h3><a href="{% url "article_view" article.pk %}">{{ article.title }}</a></h3>
                <p>
                    <label for="selected_articles-{{ article.pk }}">Select:</label>
                    <input type="checkbox" name="selected_articles"
                           id="selected_articles-{{ article.pk }}" value="{{ article.pk }}">
                </p>
                <p>Статус: ({{ article.status }} | {{ article.get_status_display }})</p>
                <p>{{ article.author }} | {{ article.created_at|date:"d.m.Y H:i:s" }}</p>
                <p>Published at: {{ article.publish_at|date:"d.m.Y H:i:s" }}</p>
                {% if perms.webapp.change_article %}
                    <p><a href="{% url 'article_update' article.pk %}">Update</a></p>
                {% endif %}
                {% if perms.webapp.delete_article %}
                    <p><a href="{% url 'article_delete' article.pk %}">Delete</a></p>
                {% endif %}
            </div>
        {% endfor %}
    </form>


    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
